.mapContainer {
    width: 401px;
    margin: 0 auto;
    text-align: center;
}

.mapContainer a.btn {
    margin: 10px 0;

}

.map tr td {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}

.map tr td.active {
    background-color: #1b6d85;
}